$light_theme: (
  "bg": white,
  "font-color": black
);

$dark_theme: (
  "bg": black,
  "font-color": white
);

.theme-light {
  @each $key, $value in $light_theme {
    #{key}: $value;
  }
}

.theme-dark {
  @each $key, $value in $dark_theme {
    #{key}: $value;
  }
}

.animate-colors-transition {
  transition: color 0.5s, background 0.5s;
}
