.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.placeholder {
  margin-top: 400px;
}



.name h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: fade-in 3.5s
}

.toc {
  opacity: 0;
  animation-duration: 3.5s;
  animation-delay: 2s;
  animation-name: fade-in;
}

/* The typing effect */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
